<!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Быстрые ссылки</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{% url 'hospital' %}"><i class="fa fa-circle"></i>Главная страница</a></li>
                <li><a href="{% url 'list_services' %}"><i class="fa fa-circle"></i>Список специализаций</a></li>
                <li><a href="{% url 'appointment' %}"><i class="fa fa-circle"></i>Запись на прием</a></li>
              </ul>
            </div>
          </div>
        <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Опытные врачи</h4>
            </div>
            {% for doctor in object_list|slice:':3' %}
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="{% url 'doctor_team'  %}">
                <i class="fa fa-circle"></i>Dr. {{ doctor.name }}</a></li>
              </ul>
            </div>
            {% endfor %}
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Социальные сети</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Защищена авторским правом Medical+. все права защищены
            <div class="credits">
              Разработано <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--/ footer-->