  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Наши услуги</h2>
          <hr class="botm-line">
          <p>Здесь вы можете сдать любые анализы, сделать УЗИ и другие виды лечения и диагностики. Получить все виды медицинских справок (детский сад, школа, ВУЗ), больничные листы. Имеется широкий список медицинских услуг для детей.</p>
          <a href="{% url 'list_services' %}" class="btn btn-appoint">Показать список специализаций</a>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>24-часовая поддержка</h4>
              <p>Всегда можете позвонить по телефону горячей линии для консультации или вызова врача тел. 8 (812) 812-55-55</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Лечение по ДМС</h4>
              <p>1. Страховая ООО «РОСГОССТРАХ»
                <br>2. ООО «Балт-ассистанс» (Ингосстрах)
                <br>3. САО «ВСК»
                <br>4. СМП-страхование
                <br>5. Страховая компания ОСАО «РЕСО-Гарантия»
                <br>6. АО Совкомбанк Страхование
                <br>7. ЗАО «Капитал-полис»
                <br>8. СК «ГЕЛИОС»
                <br>9. ООО РСО «ЕВРОИНС»</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>Экстренные службы</h4>
              <p>тел. 8 (812) 812-03-03</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Медицинское обслуживание премиум-класса</h4>
              <p>Заключая контракт, пациент может быть уверен, что уровень заботы о нем будет максимальным. И речь не только про обслуживание непосредственно в учреждении, но и за его пределами. Каждый пациент имеет своего персонального куратора, который на связи в режиме 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->




